$main-background: white;

$header-background: rgb(201, 201, 201);
$header-text: black;
$header-button-background: rgb(87, 182, 150);
$header-button-text: white;

$card-text: white;
$card-background: rgb(57, 57, 57);
$card-header-color: rgb(92, 92, 92);
$card-button-border: 1px solid white;

$modal-background: rgb(168, 183, 219);
$modal-text: black;
$modal-button-background: white;
$modal-button-text: black;
$modal-button-border: none;
$input-border: none;
$input-focus: 1px solid rgb(192, 117, 94);

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;

    background-color: $main-background;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex: auto;
    flex-flow: column nowrap;

    position: relative;
}

header {
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    justify-content: space-between;

    background-color: $header-background;
    color: $header-text;
    position: fixed;
    height: 72px;
    width: 100%;
    z-index: 1;

    h1 {
        font-size: 2rem;
        left: 40px;
        margin: auto;
    }

    fieldset {
        border: none;
        margin: auto;
    }

    button {
        border: none;
        border-radius: 10px;
        background-color: $header-button-background;
        color: $header-button-text;
        
        height: 50px;
        width: 100px;
        margin: auto;
    }

}

*button,
*.card-close,
*.close {
    cursor: pointer;
}



#modal {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;

    column-gap: 0;

    position: fixed;
    z-index: 2;
    height: max-content;
    width: min(500px, 85vw);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);

    align-items: center;
    background-color: $modal-background;
    border-radius: 20px;
    color: $modal-text;
    font-size: 1rem;
    text-align: end;

    span {
        grid-area: 1 / 1;
        font-size: 1.6rem;
        text-align: center;
        margin: 10px 0 0 0;
    }

    span:hover {
        transform: scale(1.1);
    }

    span:active {
        transform: scale(0.9);
    }

    p {
        grid-area: 2 / span 2;
        text-align: center;
        margin: -40px 0 0 0;
    }

    label {
        margin: 1.2rem 10px 1.2rem 20px;
    }

    input,
    select {
        margin-right: 10%;
        height: 1.8rem;
        font-size: 1rem;
        border: $input-border;
    }

    label:nth-of-type(1) {
        grid-area: 3 / 1;
    }

    input:nth-of-type(1) {
        grid-area: 3 / 2;
    }

    label:nth-of-type(2) {
        grid-area: 4 / 1;
    }
    input:nth-of-type(2) {
        grid-area: 4 / 2;
    }

    label:nth-of-type(3) {
        grid-area: 5 / 1;
    }
    select {
        grid-area: 5 / 2;
    }

    label:nth-of-type(4) {
        grid-area: 6 / 1;
    }
    input:nth-of-type(3) {
        grid-area: 6 / 2;
        margin-right: 60%;
    }

    label:nth-of-type(5) {
        grid-area: 7 / 1;
    }
    input:nth-of-type(4) {
        grid-area: 7 / 2;
        justify-self:left;
    }

    button {
        grid-area: 8 / 2;
        
        background-color: $modal-button-background;
        border: $modal-button-border;
        border-radius: 10px;
        color: $modal-button-text;
        font-size: 1rem;
        margin: 1rem auto;
        height: 50px;
        width: 50%;
    }
}

#card-container {
    display: flex;
    flex: 0;
    flex-flow: row wrap;
    justify-content: space-evenly;

    margin-top: 82px;

    .card {
        background-color: $card-background;
        border-radius: 20px;
        color: $card-text;

        display: grid;
        grid-template-rows: max-content repeat(4, 1fr);

        height: 300px;
        min-width: 240px;
        max-width: 240px;
        margin: 20px;
        position: relative;

        p {
            padding: 0 10px;
        }

        p:first-of-type {
            background-color: $card-header-color;
            border-radius: 20px 20px 0 0;
            font-size: 1.2rem;
            margin: 0;
            padding: 10px 0;
            text-align: center;
            
        }

        p:nth-child(3)::before {
            content: "Genre: ";
        }

        p:nth-child(4)::after {
            content: " pages";
        }

        button {
            position: absolute;
            right: 6%;
            bottom: 3%;
            height: 30px;
            width: max-content;

            border: $card-button-border;
            border-radius: 10px;
        }

    }
}