$dark: #231f20;
$dark-gray: #353535;

$main-background: rgb(240, 240, 240);

$header-background: white;
$header-text: #353535;
$header-button-background: #41ad38;
$header-button-text: white;
$header-shadow: 0 5px 10px rgba(0, 0, 0, 0.188);


$card-text: #353535;
$card-light-text: #818181;
$card-background: white;
$card-header-color: #454ade;
$card-title-text: white;
$card-border: none;
$card-shadow: 3px 4px 6px rgba(0, 0, 0, 0.168);

$card-button-border: none;
$card-button-text: #353535;
$card-button-background: rgb(233, 233, 233);

$edit-button-hover: #37b4a9;
$edit-button-hover-text: white;
$delete-button-hover: #e24b67;
$delete-button-hover-text: white;


$modal-background: #f5d41b;
$modal-text: #353535;
$modal-border: none;
$modal-shadow: 4px 4px 4px rgba(0, 0, 0, 0.514);

$modal-button-background: white;
$modal-button-text: #231f20;
$modal-button-border: none;
$input-border: none;
$input-focus: 1px solid rgb(192, 117, 94);

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;

    background-color: $main-background;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex: auto;
    flex-flow: column nowrap;

    position: relative;
}

header {
    display: flex;
    flex: 1 1;
    flex-flow: row wrap;
    justify-content: space-between;

    background-color: $header-background;
    box-shadow: $header-shadow;
    color: $header-text;
    position: fixed;
    height: 72px;
    width: 100%;
    z-index: 1;

    h1 {
        font-size: 2rem;
        left: 40px;
        margin: auto 40px;
        width: max-content;
    }

    fieldset {
        display: none;
        border: none;
        margin: auto;
        width: max-content;
    }

    button {
        border: none;
        border-radius: 100%;
        background-color: $header-button-background;
        color: $header-button-text;
        
        font-size: 2rem;
        height: 50px;
        width: 50px;
        margin: auto 40px;

        transition-duration: 200ms;
    }

    button:hover {
        transform: rotate(90deg);
    }

    button:active {
        background-color: darken($header-button-background, 15%);
    }
}

*button,
*.card-delete,
*.close {
    cursor: pointer;
}

@keyframes fade-in {
    0% {transform: translate(-50%, -40%);
        opacity: 0;
    }
    100% {transform: translate(-50%, -40%);
        opacity: 1;
    }
}

#edit-modal {
    background-color: #41ad38;
    
}
form {
    display: none;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;

    column-gap: 0;

    position: fixed;
    z-index: 2;
    height: max-content;
    width: min(500px, 85vw);
    top: 40%;
    left: 50%;

    animation: fade-in 150ms forwards;

    align-items: center;
    background-color: $modal-background;
    border: $modal-border;
    border-radius: 20px;
    box-shadow: $modal-shadow;
    color: $modal-text;
    font-size: 1rem;
    text-align: end;

    span {
        grid-area: 1 / 1;
        font-size: 1.6rem;
        text-align: center;
        margin: 10px 0 0 0;
    }

    span:hover {
        transform: scale(1.1);
    }

    span:active {
        transform: scale(0.9);
    }

    p {
        grid-area: 2 / span 2;
        font-size: 1.3rem;
        text-align: center;
        margin: -40px 0 0 0;
    }

    label {
        margin: 1.2rem 10px 1.2rem 20px;
    }

    input,
    select {
        margin-right: 10%;
        height: 1.8rem;
        font-size: 1rem;
        border: $input-border;
    }

    label:nth-of-type(1) {
        grid-area: 3 / 1;
    }

    input:nth-of-type(1) {
        grid-area: 3 / 2;
    }

    label:nth-of-type(2) {
        grid-area: 4 / 1;
    }
    input:nth-of-type(2) {
        grid-area: 4 / 2;
    }

    label:nth-of-type(3) {
        grid-area: 5 / 1;
    }
    select {
        grid-area: 5 / 2;
    }

    label:nth-of-type(4) {
        grid-area: 6 / 1;
    }
    input:nth-of-type(3) {
        grid-area: 6 / 2;
        margin-right: 60%;
    }

    .radio-btns {
        grid-area: 7 / span 2;

        display: flex;
        flex: auto;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;   
        
        input {
            margin: auto 20px auto -3px;
        }
    }

    button {
        grid-area: 8 / span 2;
        
        background-color: $modal-button-background;
        border: $modal-button-border;
        border-radius: 10px;
        color: $modal-button-text;
        font-size: 1rem;
        margin: 0 auto 1rem auto;
        height: 50px;
        width: 50%;
    }

    button:hover {
        background-color: darken($modal-button-background, 7%);
    }

    button:active {
        background-color: darken($modal-button-background, 20%);
      
    }
}

#card-container {
    display: flex;
    flex: 0;
    flex-flow: row wrap;
    
    justify-content: flex-start;

    margin: 82px 5%;

    .card {
        background-color: $card-background;
        border-radius: 20px;
        border: $card-border;
        box-shadow: $card-shadow;
        color: $card-text;

        display: grid;
        grid-template-rows: max-content;
        grid-auto-rows: 1fr;

        height: min(320px, 400px);
        min-width: 240px;
        max-width: 240px;
        margin: 10px;
        position: relative;

        p {
            padding: 0 10px;
        }

        p:first-of-type {
            background-color: $card-header-color;
            border-radius: 20px 20px 0 0;
            color: $card-title-text;
            font-size: 1.2rem;
            margin: 0;
            padding: 10px 0;
            text-align: center;
        }

        p:last-of-type {
            display: none;
        }

        p:nth-child(2)::before {
            content: "by ";
        }

        p:nth-child(3)::before {
            content: "genre: ";
        }

        p:nth-child(4)::before {
            content: "pages: ";
        }

        p:nth-child(5)::before {
            content: "status: "
        }

        *::before {
            color: $card-light-text;
        }

        div {

            display: inline-flex;
            gap: 10px;
            justify-content: flex-end;
            margin-right: 10px;

            button {
                height: 30px;
                width: 60px;
                background-color: $card-button-background;
                border: $card-button-border;
                border-radius: 10px;
                color: $card-button-text;
                transition-duration: 150ms;
            }
            
            .card-edit:hover {
                background-color: $edit-button-hover;
                color: $edit-button-hover-text;
            }

            .card-edit:active {
                background-color: darken($edit-button-hover, 10%);
            }
    
            .card-delete:hover {
                background-color: $delete-button-hover;
                color: $delete-button-hover-text;
            }

            .card-delete:active {
                background-color: darken($delete-button-hover, 10%);
            }

        }
    }
}