html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  background-color: rgb(240, 240, 240);
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  position: relative;
}

header {
  display: flex;
  flex: 1 1;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.188);
  color: #353535;
  position: fixed;
  height: 72px;
  width: 100%;
  z-index: 1;
}
header h1 {
  font-size: 2rem;
  left: 40px;
  margin: auto 40px;
  width: max-content;
}
header button {
  border: none;
  border-radius: 100%;
  background-color: #38a8c7;
  color: white;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: auto 40px;
  transition-duration: 200ms;
}
header button:hover {
  transform: rotate(90deg);
}
header button:active {
  background-color: #27768b;
}

* button,
*.card-delete,
*.close {
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    transform: translate(-50%, -40%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -40%);
    opacity: 1;
  }
}
#edit-modal {
  background-color: #37b4a9;
}

form {
  display: none;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
  column-gap: 0;
  position: fixed;
  z-index: 2;
  height: max-content;
  width: min(500px, 85vw);
  top: 40%;
  left: 50%;
  animation: fade-in 150ms forwards;
  align-items: center;
  background-color: #38a8c7;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1rem;
  text-align: end;
}
form span {
  grid-area: 1/1;
  font-size: 1.6rem;
  text-align: center;
  margin: 10px 0 0 0;
}
form span:hover {
  transform: scale(1.1);
}
form span:active {
  transform: scale(0.9);
}
form p {
  grid-area: 2/span 2;
  font-size: 1.3rem;
  text-align: center;
  margin: -40px 0 0 0;
}
form label {
  margin: 1.2rem 10px 1.2rem 20px;
}
form input,
form select {
  margin-right: 10%;
  height: 1.8rem;
  font-size: 1rem;
  border: none;
}
form label:nth-of-type(1) {
  grid-area: 3/1;
}
form input:nth-of-type(1) {
  grid-area: 3/2;
}
form label:nth-of-type(2) {
  grid-area: 4/1;
}
form input:nth-of-type(2) {
  grid-area: 4/2;
}
form label:nth-of-type(3) {
  grid-area: 5/1;
}
form select {
  grid-area: 5/2;
}
form label:nth-of-type(4) {
  grid-area: 6/1;
}
form input:nth-of-type(3) {
  grid-area: 6/2;
  margin-right: 60%;
}
form .edit-radio-btns,
form .radio-btns {
  grid-area: 7/span 2;
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
form .edit-radio-btns input,
form .radio-btns input {
  margin: auto 20px auto -3px;
}
form button {
  grid-area: 8/span 2;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #231f20;
  font-size: 1rem;
  margin: 0 auto 1rem auto;
  height: 50px;
  width: 50%;
}
form button:hover {
  background-color: #ededed;
}
form button:active {
  background-color: #cccccc;
}

#card-container {
  display: flex;
  flex: 0;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 82px 5%;
}
#card-container .card {
  background-color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.168);
  color: #353535;
  display: flex;
  flex: 0 0 23%;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 300px;
  max-height: 300px;
  min-width: 200px;
  margin: 10px;
  position: relative;
}
#card-container .card p {
  padding: 0 10px;
  height: max-content;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#card-container .card .p1 {
  background-color: #454ade;
  border-radius: 20px 20px 0 0;
  color: white;
  font-size: 1.2rem;
  margin: 0;
  padding: 10px;
  text-align: center;
}
#card-container .card .p2::before {
  content: "by: ";
}
#card-container .card .p3::before {
  content: "genre: ";
}
#card-container .card .p4::before {
  content: "pages: ";
}
#card-container .card .p5::before {
  content: "status: ";
}
#card-container .card p:last-of-type {
  display: none;
}
#card-container .card *::before {
  color: #818181;
}
#card-container .card .p5 {
  padding-bottom: 50px;
}
#card-container .card div {
  position: absolute;
  bottom: 8px;
  right: 10px;
  display: inline-flex;
  gap: 10px;
  justify-content: flex-end;
  height: max-content;
}
#card-container .card div button {
  height: 30px;
  width: 60px;
  background-color: rgb(233, 233, 233);
  border: none;
  border-radius: 10px;
  color: #353535;
  transition-duration: 150ms;
}
#card-container .card div .card-edit:hover {
  background-color: #37b4a9;
  color: white;
}
#card-container .card div .card-edit:active {
  background-color: #2b8d84;
}
#card-container .card div .card-delete:hover {
  background-color: #e24b67;
  color: white;
}
#card-container .card div .card-delete:active {
  background-color: #d72344;
}

/* 
TO DO:
Optimize for mobile
*/

/*# sourceMappingURL=style.css.map */
