html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;

    background-color: gray;
}

body {
    display: grid;
    grid-template-rows: 10% 1fr;
}

header {
    grid-area: 1 / 1;

    display: inline-flex;
    flex: auto;
    justify-content: space-between;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    height: max-content;
    width: 400px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);

    background-color: white;
    
    #close {
        cursor: pointer;
    }
}

#card-container {
    grid-area: 2 / 1;
    border: 1px solid red;

    display: flex;
    flex: auto;
    flex-flow: row wrap;

    .card {
        background-color: white;

        height: 250px;
        width: 200px;
        margin: 20px;

        p {
            color: blue;
        }
    }
}